<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table width="770" border="0" align="center" cellpadding="0"
		cellspacing="0">
		<tr>
			<td height="20">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<table width="766" align="center" cellpadding="0" cellspacing="0"
					height="82">
					<tr>
						<td align="center"><a href="http://www.magicgis.cn" target="#">联系我们</a>|
						<a href="admin/index.jsp">管理员登陆</a>|
						<a href="https://github.com/xujie01/NewsSystem" target="#">源代码</a></td>
					</tr>
					<tr>
						<td align="center"
							style="font-family: Arial, Helvetica, sans-serif;">Copyright
							&copy; 2017 版权所有, All Rights Reserved</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>